<html>
<head>
	<title>Private Jet Dealership</title>
	<link rel="stylesheet" href="style.css">
	<link rel="icon" href="favicon.jpg" type="image/x-icon">
</head>
<body>
	<header>
		<div class="container">
			<h1>Flight Deck</h1>
			<nav>
				<ul>
					<li><a href="1st.html">Home</a></li>
					<li><a href="2nd.html">Jets</a></li>
					<li><a href="3rd.html">Services</a></li>
					<li><a href="4th.html">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
        <div class="hero">
            <h1>Welcome to Private Jet Dealership</h1>
            <p>Find the perfect jet for your needs</p>
            <button><a href="2nd.html">Get Started</a></button>
        </div>
        
</body>
<footer>
	<div class="container">
		<p>&copy; 2023 Private Jet Dealership</p>
	</div>
</footer>
</html>
