<html>
<head>
	<title>Private Jets</title>
	<link rel="stylesheet" href="style.css">
	<link rel="icon" href="favicon.jpg" type="image/x-icon">
</head>
<body>
	<header>
		<div class="container">
			<h1>Flight Deck</h1>
			<nav>
				<ul>
					<li><a href="1st.html">Home</a></li>
					<li><a href="2nd.html">Jets</a></li>
					<li><a href="3rd.html">Services</a></li>
					<li><a href="4th.html">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div id="inventory"></div>
	<div id="contact-form">
		<h2>Contact Seller</h2>
		<form>
		  <input type="text" id="jet-make" name="make" placeholder="Make" readonly>
		  <input type="text" id="jet-model" name="model" placeholder="Model" readonly>
		  <input type="text" id="name" name="name" placeholder="Your Name" required>
		  <input type="email" id="email" name="email" placeholder="Your Email" required>
		  <textarea id="message" name="message" placeholder="Your Message" required></textarea>
		  <button type="submit">Submit</button>
		  <button type="button" onclick="closeContactForm()">Close</button>
		</form>
	  </div>	  
</body>
<script src="app.js"></script>
<footer>
	<div class="container">
		<p>&copy; 2023 Private Jet Dealership</p>
	</div>
</footer>
</html>
